<div class="row margin-top">
  <div class="container">
    <div class="row">
      <% @cites_items_for_display.each do |i| %>
      <div class="col-xs-12 col-sm-4 card-col">
        <div class="card" style="background-image:linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url('<%= image_path "items/#{i[0][0][0]}.png"%>');">
          <div class="card-hover">
            <div class="card-category">
              <p><%= i[0][0][1].html_safe %></p>
            </div>
            <div class="card-description">
              <p><%= @current_city_emoji.html_safe %><%= @current_city.name.capitalize %>: </p><h2 class="bigger-value"><%= i[0][2] %> EUR</h2>
              <p><%= @destination_city_emoji.html_safe %><%= @destination_city.name.capitalize %>:</p><h2><%= i[1][2] %> EUR</h2>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
