<div class="page-wrapper" id="costs">
  <div class="title">
    <h1>Cost of Items</h1>
  </div>
  <div class="row margin-top">
    <div class="container">
      <div class="row">
        <% @cites_items_for_display.each do |i| %>
        <div class="col-xs-12 col-sm-4 card-col">
          <div class="card">
            <div class="front" style="background-image:linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url('<%= image_path "items/#{i[0][0][0]}.png"%>');"> 
            </div>
            <div class="back card-description">
              <div class="card-back-title">
                <span class="card-category"><%= i[0][0][1].html_safe %></span>
              </div>
              <div class="card-prices">
                <div class="card-city">
                  <span class="city-name"><%= @current_city_emoji.html_safe %> <%= @current_city.name.capitalize %></span>
                  <span class="city-item-price"><%= i[0][2] %> EUR</span>
                </div>
                <div class="card-city">
                  <span class="city-name"><%= @destination_city_emoji.html_safe %> <%= @destination_city.name.capitalize %></span> <span class="city-item-price"><%= i[1][2] %> EUR</span>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<%= content_for :after_js do %>
<script>
  $('.card').click(function(){
    $(this).toggleClass('flipped');
  });
</script>
<% end %>