<h1>Pages#Result</h1>

<table>
  <tr>
    <h2>Destination city: <%= @destination_city.name %></h2>
    <td>
      <% @current_city_indices.each do |index| %>
        <p><%= index.index.name %></p>
        <p><%= index.score.round(2) %></p>
      <% end %>
    </td>
    <td>
       <% @destination_city_indices.each do |index| %>
        <p><%= index.index.name %></p>
        <p><%= index.score.round(2) %></p>
      <% end %>
    </td>
  </tr>
  <h2>Current city: <%= @current_city.name %></h2>
  <tr>
    <td>
     <% @current_city_prices.each do |p| %>
        <p><%= p.item.name %></p>
        <p><%= p.price.round(2) %></p>
      <% end %>
    </td>
    <td>
      <% @destination_city_prices.each do |p| %>
        <p><%= p.item.name %></p>
        <p><%= p.price.round(2) %></p>
      <% end %>
    </td>
  </tr>
</table>
